.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 80px 100px;
    min-height: 90vh;

    background: linear-gradient(135deg,#FFF8F4,#FDEBDD,#FFF8F4);
}
.hero_left{
    flex: 1;
    max-width: 600px;
}
.hero_left h2{
    font-size: 72px;
    line-height: 1.1;
}
.hero_left p{
    margin-top: 24px;
    font-size: 20px;
    line-height: 1.8;
    color: #666;
}
.hero_left button{
    margin-top: 35px;
    padding: 18px 40px;
    border: none;
    border-radius: 10px;
    background: #D46A4C;
    color: white;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: all .3s ease;
}

.hero_left button:hover{
    transform: translateY(-3px);
    background: #BC5A40;
}
.hero_right{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero_right img{
    width: 500px;
    max-width: 100%;
    height: auto;
}